.StackBlockCardsButton {
    background: #c2b274;
    background: linear-gradient(0deg, rgba(194, 178, 116, 1) 0%, rgba(230, 215, 150, 1) 100%);
    border: solid 2px rgb(122, 109, 55);
    box-shadow: 0.5px -1.5px 1 2px rgba(14, 27, 18, 0.623),
                -1px -0.5px 2 2px rgba(14, 27, 18, 0.623),
                -1.5px 0.5px 1 2px rgba(132, 255, 179, 0.582);
    border-radius: 50%;
    padding: 10px;
}

.suitIcon{
    filter: brightness(80%)
}