.card {
    background-color: white;
    color: black;
    font-weight: 900;
    width: 6.5rem;
    height: 12rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: #d3d9ce;
    background: linear-gradient(180deg, rgb(204, 209, 199) 0%, rgba(232, 239, 231, 1) 100%);
    border-top: 2px solid rgb(237, 241, 236);
    border-bottom: 2px solid rgb(185, 189, 175);
    /* box-shadow: 0 -2px 10 0 rgba(14, 14, 14, 0.322); */
    box-shadow: 0 5px 5 -2px rgba(14, 14, 14, 0.548);

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */

    /* Prevent suit icons/box-shadows from painting outside the card */
    overflow: hidden;
    position: relative; /* establish stacking context for children */
    z-index: 0;
}

.numberDiv1 {
    flex: 1;
}

.suitDiv {
    flex: 6;

    display: flex;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.numberDiv2 {
    flex: 1;
    text-align: right;
}

.suitIcon {
  filter: brightness(80%);
  padding: 2px;
  font-size: 0.8rem;
}

.suitDiv > .suitIcon {
  font-size: 2rem;
}

.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000ad;
  box-shadow: 8px 0 #000000ad, -8px 0 #000000ad;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 8px 0 #FFF2, -8px 0 #000000ad;
  }
  50% {
    background-color: #000000ad;
    box-shadow: 8px 0 #FFF2, -8px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 8px 0 #000000ad, -8px 0 #FFF2;
  }
}
      