.card {
    background-color: white;
    color: black;
    font-weight: 900;
    width: 6.5rem;
    height: 12rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background: #d3d9ce;
    background: linear-gradient(180deg, rgba(211, 217, 206, 1) 0%, rgba(232, 239, 231, 1) 100%);
    border-top: 2px solid rgba(232, 239, 231, 1);
    border-bottom: 2px solid rgba(190, 194, 179, 1) ;

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
}

.numberDiv1 {
    flex: 1;
    /* border: 2px solid blue; */
}

.suitDiv {
    flex: 3;
    /* border: 2px solid blue; */

    display: flex;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.numberDiv2 {
    flex: 1;
    /* border: 2px solid blue; */
    text-align: right;
}
