.foundationSlot {
    width: 6.5rem;
    height: 12rem;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.199);
    box-sizing: border-box;

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
}

.freecellSlot {
    width: 6.5rem;
    height: 12rem;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px dotted rgba(255, 255, 255, 0.295);
    box-sizing: border-box;

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
}

.flowerSlot {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6.5rem;
    height: 12rem;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.199);
    box-sizing: border-box;

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
}

.flowerIcon {
    filter: grayscale(100%);
    font-size: 3.5rem;
    opacity: 15%;
}